[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/Tana0910/DirectXTex.git
[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/Tana0910/DirectXTK.git
